body{
margin: 0 auto;

}

.main-box{
    display: flex; 
     justify-content: center;
     gap: 30px;
}
.property{
    
    /* border: 2px red solid; */
}




.box{
    margin-top: 2em;
    padding:2em;
    list-style: none;
    border: brown 2px solid;
    width:450px;
    gap: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     /* box-shadow: 20px 5px 5px rosybrown ;  */
    position: relative;
    /* left: 680px;   */
}

#photo{
    /* border: red 2px solid; */
   margin-top: 2em;
    height: 350px;
    width: 450px;
    position: relative;
    /* left: 680px; */
}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header  header header"
    "search search . photo"
    "footer footer footer";
    
}
#contain {
    
   padding: 20px;
}

#label{
    
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
input{
    width:200px;
    height:35px
}

.btn-box{
 

}
#btn{
    width:100px;
    height:40px;
    background-color:pink;
    color:white;
    font-weight:25px;
    position: right;
    
}
#btn:hover{
    
    background-color:blueviolet;
    

}
#btnb {
    
    position: relative;
    left: 250px;
    width:100px;
    height: 20px;
    background-color: crimson;
}
#btnb:hover {
    
    position: relative;
    
    background-color: Pink;
}

.location{
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.wContainer{
    display: flex;
    justify-content: center;
    height: 25em;
    width:30em;
    box-shadow: 10px 5px 5px rosybrown ;
    list-style: none;
    border: rosybrown 2px solid;
    background-color: blueviolet;
   
}
.weather-box{
    display: flex;
    justify-content: center;
}

#listOne{
    list-style: none;
   
}
#weather{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnS{
   
   
    width:100px;
    height: 20px;
    background-color: crimson;
}
#btnS:hover{
    background-color: Pink;
}


.title{
    display: flex;
    justify-content: center;
}
#icon1 {
    height:200px;
    width:100px;
}

.weatherI{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    display: flex;
    justify-content: center;
    
}

#aboutOne{
    margin-top: 50px;

}
.contact{
    display: flex;
    justify-content: center;
}

.contactH{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact CSS */

.info-box{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: 50px;
 
}