.Saved {
    margin: 2rem;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr;
    list-style: none;
    gap:50px 23px;
   
}

.info{
    padding: 2px;
}

.savedBox{
    margin: 2rem;
}


.btn-box{
    display: flex;
    flex-direction: row;
   
}
.container {
   margin: 2rem;
    box-shadow: 20px 5px 5px rosybrown;
}

#savedPhoto{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 1rem;
    height:10em;
    width:15em;
}